@import "tailwindcss";
@plugin "daisyui" {
  themes: 
    dark --yummy_dark,
    light --yummy_light
  ;
};

@plugin "daisyui/theme" {
  name: "yummy_light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 308.299);
  --color-base-200: oklch(94% 0.033 307.174);
  --color-base-300: oklch(82% 0.119 306.383);
  --color-base-content: oklch(14% 0.005 285.823);
  --color-primary: oklch(71% 0.203 305.504);
  --color-primary-content: oklch(29% 0.149 302.717);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(30% 0.056 229.695);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.3125rem;
  --size-field: 0.1875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "yummy_dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(43% 0.232 292.759);
  --color-base-200: oklch(28% 0.141 291.089);
  --color-base-300: oklch(38% 0.189 293.745);
  --color-base-content: oklch(61.9% 0.17 322.5);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(25% 0.17 322.5);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(25% 0.17 322.5);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(61.9% 0.17 322.5);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.3125rem;
  --size-field: 0.1875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

